@font-face {
  font-family: 'MuseoSlab';
  src: url('fonts/Museo_Slab_100-webfont.eot');
  src: url('fonts/Museo_Slab_100-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Museo_Slab_100-webfont.woff') format('woff'), url('fonts/Museo_Slab_100-webfont.ttf') format('truetype'), url('fonts/Museo_Slab_100-webfont.svg#MuseoSans300') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('fonts/Museo_Slab_300-webfont.eot');
  src: url('fonts/Museo_Slab_300-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Museo_Slab_300-webfont.woff') format('woff'), url('fonts/Museo_Slab_300-webfont.ttf') format('truetype'), url('fonts/Museo_Slab_300-webfont.svg#MuseoSans300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('fonts/Museo_Slab_500-webfont.eot');
  src: url('fonts/Museo_Slab_500-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Museo_Slab_500-webfont.woff') format('woff'), url('fonts/Museo_Slab_500-webfont.ttf') format('truetype'), url('fonts/Museo_Slab_500-webfont.svg#MuseoSans500') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSlab';
  src: url('fonts/Museo_Slab_700-webfont.eot');
  src: url('fonts/Museo_Slab_700-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Museo_Slab_700-webfont.woff') format('woff'), url('fonts/Museo_Slab_700-webfont.ttf') format('truetype'), url('fonts/Museo_Slab_700-webfont.svg#MuseoSans700') format('svg');
  font-weight: 700;
  font-style: normal;
}
h2,
h4,
h5,
h6 {
  font-family: 'MuseoSlab', Century Gothic, Apple Gothic, sans-serif;
}

.book-body .book-header {
background-color: #00779c;
color: #00779c;
}
.book .book-body .page-wrapper .page-inner section.normal h1 {
  font-weight: 200;
}
.book .book-body .page-wrapper .page-inner section.normal h3 {
  font-weight: 300;
}
.book .book-body .page-wrapper .page-inner section.normal h4 {
  font-weight: 500;
}
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-weight: 700;
}
.book .book-summary ul.summary {
  background: #f1f1f1;
}
.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #2aabe2;
}
.book .book-summary ul.summary > li:first-child a {
  font: 0/0 none;
  background: transparent url("../images/ResBaz.png") no-repeat left top;
  height: 100px;
  width: 100%;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: #2aabe2;
}
.book .book-summary .book-search {
  background: #f1f1f1;
}
.book .book-summary .book-search input,
.book .book-summary .book-search input:hover,
.book .book-summary .book-search input:focus {
  background: rgba(255,255,255,.7);
}
.book .book-body .page-wrapper .page-inner section.normal pre {
  background: #f1f1f1;
  border-radius: 0;
}


.gitbook-link { display: none !important; }

.atoc {
  list-style-type: circle;
}


.panel-default>.panel-heading {
background-color: #00779c;
color: white;
}

.ex {
  color: White;
  background-color:#532176;
  border: 2px solid #303;
  border-radius: 10px;
  text-align: center;
}


/* Objectives, Callout Box, Challenges and prerequisites are now rendered as
Bootstrap panels.  There's a pandoc error with rendering headers nested under
blockquote: these headers don't preserve attributes.  It means we have to
manually set styles for these headers to look like Bootstrap's "panel-title"
class. */
/* Comments in code. */
.comment {
    color: purple;
}

/* Error messages. */
.err {
    color: #8B0000;
    font-style: italic;
}


/* Highlighted changes in code. */
.highlight {
    background-color: #ffe4e1;
}

/* Manual input. */
.input {
    color: #006400;
}

.r code {
    color: #006400;
}


/* Program output. */
.output {
    color: #00008B;
    font-style: italic;
}


/* Block quotations. */
blockquote {
    margin: 1em;
    padding: 1em 1em .5em 1em;
    width: 90%;
    font-size: inherit;
}


